<nav id="navbar" class="navbar navbar-inverse navbar-fixed-top" role="navigation"></nav>

<div class="alert alert-dismissable alert-warning alert-global fade in hide" id="top_alert">
    <button type="button" class="close" onclick="$('#top_alert').addClass('hide')">×</button>
    <!--data-dismiss="alert" aria-hidden="true"-->
    <div class="container"></div>
</div>

<div class="container">
    <div class="row" >
        <div class="col-md-12 col-lg-12" id="hot-now"></div>
    </div>
    <div class="row">
        <aside class="col-md-3 col-lg-3 sidebar" id="sidebar"></aside><!-- .sidebar -->

        <div class="col-md-9 col-lg-9" id="top-trades"></div>


        <div class="col-md-9 col-lg-9">
          {{view "posts/AddArea" class="userstream-addpost hide"}}

            <div class="row">
                <div class="col-md-9 col-lg-9 main-content-area" id="content"></div>

                <div class="col-md-3 col-lg-3">
                    <div class="promo">
                        <ul class="media-list">
                            <li class="media">
                                <a class="pull-left" href="#">
                                    <i class="glyphicon glyphicon-exclamation-sign"></i>
                                </a>
                                <div class="media-body help-block">
                                    <h4 class="media-heading">Free Bonus</h4>
                                    <p>Invite your friends to receive bonus.</p>
                                    <p><a href="{{preloaded_data "urls.not_implemented"}}">Click here</a></p>
                                </div>
                            </li>
                            <li class="media">
                                <a class="pull-left" href="#">
                                    <i class="glyphicon glyphicon-plus-sign"></i>
                                </a>
                                <div class="media-body help-block">
                                    <h4 class="media-heading">Fund Your Account</h4>
                                    <p>Fund your account to trade</p>
                                    <p><a href="{{preloaded_data "urls.not_implemented"}}">Click here</a></p>
                                </div>
                            </li>
                            <li class="media">
                                <a class="pull-left" href="#">
                                    <i class="glyphicon glyphicon-question-sign"></i>
                                </a>
                                <div class="media-body help-block">
                                    <h4 class="media-heading">We’re Curious</h4>
                                    <p>How likely are you to recommend TradeCrowd to a friend?</p>
                                    <p><a href="{{preloaded_data "urls.not_implemented"}}">Click here</a></p>
                                </div>
                            </li>
                            <li class="media">
                                <a class="pull-left" href="#">
                                    <i class="glyphicon glyphicon-info-sign"></i>
                                </a>
                                <div class="media-body help-block">
                                    <h4 class="media-heading">Risk Warning</h4>
                                    <p>Understand the risks involved</p>
                                    <p><a href="{{preloaded_data "urls.not_implemented"}}">Read more</a></p>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div><!-- /Promo materials -->


        </div>
    </div><!-- /.row -->
</div><!-- /.container -->


{{!--Visor region--}}
<div class="visor"></div><!-- .visor -->



{{!--region for Open/Close trade dialogs--}}
<div class="instrument-dlg-wrapper"></div><!-- .instrument-dlg-wrapper -->

{{!-- Modal with chart iframe --}}
<div id="chartModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="chartModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">Chart</h3>
	</div>
	<div class="modal-body">
		<iframe  frameborder="0" scrolling="no" seamless="seamless" style="border: 0; width: 100%;"></iframe>
	</div>
</div>

{{!--popups region--}}
<div class="popup"></div><!-- .popup -->

{{!-- Add post popup --}}
<div class="add-post-wrapper"></div><!-- .add-post-wrapper -->

<div id="fund_your_account" class="modal fade">
    <div class="modal-content"><div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="$('#fund_your_account').modal('hide')">×</button>
        <h3>Fund Your Account</h3>
    </div>
    <div class="modal-body">
        <iframe id="fund_your_account_frame" src="about:blank" frameBorder="0"></iframe>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" onclick="$('#fund_your_account').modal('hide')">Cancel</a>
    </div></div>
</div>